:root {
    --primary-color: #2f9e41;
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --container-max-width: 800px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.container {
    margin: 20px auto;
    max-width: var(--container-max-width);
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    color: var(--primary-color);
}